@import "normalize";
@import 'compass/css3';

body {
  background: url(/stylesheets/images/wood_pattern.png) fixed;
  font-family: 'Yanone Kaffeesatz';
  font-size: 16px;
}

#container {
  width: 32em;
  margin: 5.618em auto;
  color: rgba(122,48,20, 1);
  font-weight: 200;
}
.photo {
  @include single-box-shadow(rgba(0,0,0,0.4), -1px, 1px, 5px, 5px, inset);
  @include border-radius(1.618em);
  overflow: hidden;
  background: url(/stylesheets/images/photo.png);
  width: 250px;
  height: 250px;
  position: absolute;
  left: 0;
  top: 0;
}

.details {
  position: relative;
  height: 250px;
}

.taglines {
  position: absolute;
  top: 0;
  left: 250px;
  font-weight: 300;
  padding: 0;
  ul {
    margin: 0;
    li {
      font-size: 1.618em;
      list-style: none;
      margin: 1.618em 0;
    }    
  }
}

.info {
  font-size: 1.618em;
  margin: 1.618em 0;
  a {
    font-weight: 400;
    &:hover{
      text-decoration: underline;
    }
  }
  
}
a {
  text-decoration: none;
  color: inherit;
  &:visited, &:active {
    color: inherit;
  }
}

.name {
  font-family: 'Megrim';
  font-size: 3.618em;
  text-shadow: rgba(255,255,255,0.3) 0 1px 4px;

}
