{% extends "base.html" %}
{% block content %}
  <h1 class="name">Sudhir Jonathan</h1>
  <div class="details">
    <div class="photo"></div>
    <section class="taglines">
      <ul>
        <li>Professional Programmer</li>
        <li>Amateur Entrepreneur</li>
        <li>Beginner Husband</li>
      </ul>
    </section>        
  </div>
  <section class="info">I post my code on <a href="https://github.com/sudhirj">GitHub</a>, wax eloquent at the <a href="http://hangar.runway7.net">Hangar</a>, answer questions on <a href="http://stackoverflow.com/users/73831/sudhir-jonathan">StackOverflow</a> and try to be an entrepreneur with <a href="http://www.runway7.net/">Runway7</a>.</section>
  <section class="info">You can <a href="mailto:contact.me@sudhirjonathan.com">contact.me@sudhirjonathan.com</a>, follow me <a href="https://twitter.com/#!/sudhirj">@sudhirj</a> or find me on <a href="https://www.facebook.com/sudhirj">Facebook</a>.</section>
  
{% endblock %}